footer {
  padding: 2rem;
  background-color: #122b4e;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: #FFF;
  font-size: 11px;
}

footer .footer a {
  color: #FFF;
  text-decoration: none;
}